<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SheetId" value="1AH8y-TyD_ojIYtbiJ1LATTv-zhGDRIiqmgApK0UmcO8" />
    <add key="InputValue" value="08:00:00.000" />
    <add key="ReaderRange" value="A1:B" />
    <add key="SheetName" value="Basic" />
  </appSettings>
</configuration>