<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SheetId" value="1AH8y-TyD_ojIYtbiJ1LATTv-zhGDRIiqmgApK0UmcO8" />
    <add key="SheetName" value="Test" />
    <add key="ReaderRange" value="A1:J" />
    <add key="DateFormat" value="d-MMM-yyyy" />
    <add key="Time" value="10:00:00.000" />
  </appSettings>
</configuration>